body{
    /* background-color:blanchedalmond; */
    /* background-image: url('https://source.unsplash.com/1920x1080/?landscape'); */
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
  
    
    
}

.container{
    background-image: url('https://source.unsplash.com/1920x1080/?landscape');
    height:800px;
    width:500px;
    border-radius:10px;
    text-align:center;
    flex-direction: column;
    color: white;
    font-weight: bold;


}
.search{
    display: flex;
    mix-blend-mode: multiply;


}

input{
    border: none;
    text-align: center;
    
}

::placeholder{
    color:green;
}

button{
    border: none;
    background:none;
}
.header{
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid white;
}

h2{
    font-size:100px;
}
.pressure{
display:flex;
flex-direction:row;
justify-content: center;
gap: 20px;
    
    /* align-items: right; */
}


.weather-now{

    display: flex;
    flex-direction: column;
    margin-top:5px;
    border-bottom: 1px solid white;
    
}
.now-items{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.with-degree{
    display: flex;
    justify-content:space-evenly;
}
.footer{
   
    margin-top:5px;
}
.days{
    float: left;
}

.temp{
    float: right;
    padding-right: 20px;
}
